<h1>Hello Student2s!</h1>
<p>This is the Student2s Page</p>

<h2>Some Links:</h2>
<ul>
  <li>
    <a href="/admin" target="_self">Link is only for Admin!</a>
  </li>
  <li>
    <a href="/student1" target="_self">Student1s Role Page - Link is only for role Student1 and Teacher (and Admin)!</a>
  </li>
  <li>
    <a href="/student2" target="_self">Student2s Role Page - Link is only for role Student2 and Teacher (and Admin)!</a>
  </li>
  <li>
    <a href="/student" target="_self">Students Role Page - Link is only for role Students and Teachers (and Admin)!</a>
  </li>
  <li>
    <a href="/teacher" target="_self">Teachers Role Page - Link is only for role Teacher (and Admin)!</a>
  </li>
</ul>

<a href="/identify" target="_self">Back to Login</a>
