<!DOCTYPE html>
<html>
  <head>
    <title>Teacher Page</title>
  </head>
  <body>
    <h1>Teacher Home Page</h1>
    <p>Welcome, Teacher!</p>

    <h2>Some Links:</h2>
    <ul>
      <li>
        <a href="/admin" target="_self">Link is only for Admin!</a>
      </li>
      <li>
        <a href="/student1" target="_self">Student1s Home Page - Link is only for role Student1 and Teacher (and Admin)!</a>
      </li>
      <li>
        <a href="/student2" target="_self">Student2s Home Page - Link is only for role Student2 and Teacher (and Admin)!</a>
      </li>
      <li>
        <a href="/student" target="_self">Students Home Page - Link is only for role Students and Teachers (and Admin)!</a>
      </li>
      <li>
        <a href="/teacher" target="_self">Teachers Home Page - Link is only for role Teacher (and Admin)!</a>
      </li>
    </ul>

    <a href="/identify" target="_self">Back to Login</a>
  </body>
</html>
